*{
    margin: 0;
    padding: 0;
}

body{
    background-color: bisque;
}

.nav_bar_item1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(179, 51, 51);
}

.nav_bar_header h2{
    text-transform: uppercase;
    color: white;
    letter-spacing: 4px;
    margin-left: 30px;
}

.nav_bar_links{
    display: flex;
    flex-wrap: wrap;
}

.nav_bar_links_item > a input[type=button]{
    background-color: rgb(44, 42, 42);
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 3px;
    padding: 5px;
    margin-right: 10px;
    text-transform: uppercase;
}

.nav_hero{
    position: relative;
}

.hero_img img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    filter: blur(3px);
}

.hero_txt{
    position: absolute;
    top: 25%;
    left: 20%;
    color: white;
    letter-spacing: 3px;
}

.hero_txt h1{
    text-transform: uppercase;
}

.hero_txt p{
    font-family: cursive;
}

main{
    /* background-color: bisque; */
    margin-bottom: 30px;
}

.we_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: forestgreen;
    font-weight: 900; 
    letter-spacing: 2px;
}

.we_section h3{
    color: red;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.we_offer{
    margin-right: 50px;
}

footer{
    background-color: rgb(44, 42, 42);
    margin-bottom: 0%;
    letter-spacing: 2px;
}

.footer_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    color: white;
}

.footer_item a{
    color: white;
    text-decoration: none;
    outline: none;
}